<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ff756d</string>
	<string>ff917a</string>
	<string>ffa986</string>
	<string>ffbe93</string>
	<string>ffd1a0</string>
	<string>ffe1ad</string>
	<string>c86da4</string>
	<string>de7a9b</string>
	<string>f08695</string>
	<string>ff9393</string>
	<string>ffaba0</string>
	<string>ffc0ad</string>
	<string>886de4</string>
	<string>a47ad5</string>
	<string>bb86ca</string>
	<string>d093c2</string>
	<string>e1a0be</string>
	<string>f0adbc</string>
	<string>ccade0</string>
	<string>7a8bee</string>
	<string>a193f2</string>
	<string>8686ﬀ</string>
	<string>b8a0e7</string>
	<string>6d92db</string>
</array>
</plist>
